html
  head
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
  body
    div.flex-container
      a.link(href='#')
        i.fa.fa-home
      a.link(href='#')
        i.fa.fa-info
      a.link(href='#')
        i.fa.fa-question
      a.link(href='#')
        i.fa.fa-envelope
